[[source]]
name = "pypi"
url = "https://pypi.org/simple"
# url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
black = "*"
bump2version = "*"

[packages]
fastdash = {path = ".",editable = true}
fastapi = "*"
loguru = "*"
uvicorn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
